<html>
    <head>
        <link rel ="stylesheet" href="{{ url_for('static', filename='styles/leave_rec.scss') }}"/>
    </head>

    <body>
        <div class="container">
            <!-- code here -->
            <div class="card">
                <div class="card-image">	
                    <h2 class="card-heading">
                        IITGN
                        <br/>
                        <small>Hostel Management System</small>
                        <br/>
                        Leave_Rec
                    </h2>
                </div>
                <form class="card-form" method="POST" action="">
                    <div class="input">
                        <input type="number" class="input-field" placeholder="Record_no." name="record_no"required/>
                        <!-- <label class="input-label">Block Name</label> -->
                    </div>
                                <div class="input">
                        <input type="datetime-local" class="input-field" placeholder="Out_time" name="out_time"/>
                        
                    </div>
                                <div class="input">
                        <input type="datetime-local" class="input-field" placeholder="In_time" name="in_time"/>
                        <!-- <label class="input-label">Capacity</label> -->
                    </div>
                    <div class="input">
                        <input type="number" class="input-field" placeholder="Roll_no." name="roll_no"/>
                        <!-- <label class="input-label">Laundary Days</label> -->
                    </div>
                    <div class="action">
                        <button class="action-button" name="lea" value="Insert">Insert</button>
                        <button class="action-button" name="lea" value="Update">Update</button>
                        <button class="action-button" name="lea" value="Delete">Delete</button>
                        <button class="action-button" name="lea" value="Show Table">Show Table</button>
                    </div>
                </form>
            </div>
        </div>
</body>
</html>