<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Staff_works_for view</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">

</head>
<body>
  <br><br><br><br><br>
  <table>
    <tr>
      <th>block_name</th>
      <th>staff_id</th>
      <th>working_days</th>
    </tr>
    {% for user in staff_works_forDetails %}
    <tr>
      <td> {{user[0]}} </td>
      <td> {{user[1]}} </td>
      <td> {{user[2]}} </td>
    </tr>
    {% endfor %}
  </table>
  </body>
  </html>