<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Studen Hostel Payment view</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">

</head>
<body>
  <br><br><br><br><br>
<table>
    <tr>
      <th>transaction_id</th>
      <th>roll_no</th>
      <th>block_name</th>
    </tr>
    {% for user in student_hostel_paymentDetails %}
    <tr>
      <td> {{user[0]}} </td>
      <td> {{user[1]}} </td>
      <td> {{user[2]}} </td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>