<html>
    <head>
        <link rel ="stylesheet" href="{{ url_for('static', filename='styles/undergrad.scss') }}"/>
    </head>

    <body>
        <div class="container">
            <!-- code here -->
            <div class="card">
                <div class="card-image">	
                    <h2 class="card-heading">
                        IITGN
                        <br/>
                        <small>Hostel Management System</small>
                        <br/>
                        Undergrad
                    </h2>
                </div>
                <form class="card-form" method="POST" action="">
                    <div class="input">
                        <input type="number" class="input-field" placeholder="Roll_no. referenced from student" name="roll_no" required/>
                        <!-- <label class="input-label">Block Name</label> -->
                    </div>
                                <div class="input">
                        <input type="text" class="input-field" placeholder="Jee_score" step="0.25" name="JEE_score" />
                        <!-- <label class="input-label">Occupancy</label> -->
                    </div>
                    
                    <div class="input">
                        <input type="text" class="input-field" placeholder="Block_name referenced from hostel" name="block_name "/>
                        <!-- <label class="input-label">Laundary Days</label> -->
                    </div>

                  
                    <div class="action">
                        <button class="action-button" name="ung" value="Insert">Insert</button>
                        <button class="action-button" name="ung" value="Update">Update</button>
                        <button class="action-button" name="ung" value="Delete">Delete</button>
                        <button class="action-button" name="ung" value="Show Table">Show Table</button>
                    </div>
                </form>
            </div>
        </div>
</body>
</html>