<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Warden Contact view</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">

</head>
<body>
  <br><br><br><br><br>
<table>
  <tr>
    <th>warden_id</th>
    <th>contact</th>
  </tr>
    {% for user in warden_cDetails %}
    <tr>
      <td> {{user[0]}} </td>
      <td> {{user[1]}} </td>
    </tr>
    {% endfor %}
  </table>
  </body>
  </html>