<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Warden view</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">

</head>
<body>
<table border = 1>
  <tr>
    <th>warden_id</th>
    <th>name</th>
    <th>salary</th>
    <th>block_name</th>
  </tr>
    {% for user in wardenDetails %}
    <tr>
      <td> {{user[0]}} </td>
      <td> {{user[1]}} </td>
      <td> {{user[2]}} </td>
      <td> {{user[3]}} </td>
    </tr>
    {% endfor %}
  </table>
  </body>
  </html>